.button-create-folder {
    margin: 30px;
}

.edit-article-page {
    text-align: center;
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-90%); /* tiré de la moitié de sa propre hauteur */
  }

.d-grid {
  margin-top: 30px;
}

form {
    margin-top: 30px;
}

.input-article {
    display: flex;
    flex-direction: column;
}

.form-control {
    margin: 10px;
}