.button-create-folder {
    margin: 30px;
}

.test {
    margin: 30px
}


.form-update-folder {
    text-align: center;
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-70%); /* tiré de la moitié de sa propre hauteur */
  }

.d-grid {
  margin-top: 50px;
}

form {
    margin-top: 30px;
}